
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

 
*{
    margin: 0;
    padding: 0;   
}
body{
    background-image: url(assets/img/wallhaven-pkp1vp_1920x1080.png);
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}
header{
    background: rgba(255, 255, 255, 0.21);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);

}
label{
    font-size: 18px;
    font-weight: 500;
    color: white;
    
}

/*aqui começa a landingpage*/

.home_landing{
    background-image: url(assets/img/wallhaven-pkp1vp_1920x1080.png);
    background-size: cover;

}

.header_home{
    background-color: gray;
    height: 50px;
    background: rgba(255, 255, 255, 0.21);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.5px);
-webkit-backdrop-filter: blur(6.5px);
    
}

.header_home nav ul{
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    justify-content: space-evenly;
    align-content: center;
    
}
.header_home a{
    text-decoration: none;
    color: white;

}

.header_home li{
    list-style: none;
    color: white;
}

.container_home{
    margin: auto;
    height: 470px;
    max-width: 700px;

}

.card_home{
    border-radius: 25px 0 25px 0;
    margin-top: 100px;
    height: 180px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;


/* From https://css.glass */
background: rgba(255, 255, 255, 0.29);

box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.8px);
-webkit-backdrop-filter: blur(6.8px);


}
.text_home{
    color: aliceblue;
    text-indent: 5px;
    font-size: 25px;
  text-align: center;

}


/*aqui termina a landingpage*/


/*essa parte é dos cadastros*/
.header_reg_turmas{
 
    height: 50px;
    
}
  .header_reg_turmas nav ul{
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    justify-content: space-evenly;
    align-content: center;
    
}
.header_reg_turmas a{
    text-decoration: none;
    color: white;

}

.header_reg_turmas li{
    list-style: none;
    color: white;
}


.container{
   
  margin: auto;
  max-width: 1000px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form{
    background-color: rgb(221, 217, 217);
    width: 500px;
    height: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.29);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.5px);
-webkit-backdrop-filter: blur(6.5px);
}

.cont_inp{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: baseline;
    
    gap: 20px;
    
}
.input-group{
    margin-left: 35px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 1rem;
}
.inp_group{
    outline: none;
    border: none;
    width: 180px;
    height: 30px;
    background: rgb(65, 70, 80);
    border-radius: 6px;
    color: white;
    text-indent: 14px;
    font-size: 15px;
}


#nome{
    width: 380px;
}

.inp_submit{
    height: 33px;
    width: 100px;
    background: rgb(65, 70, 80);
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
}
.inp_submit:hover{
    color: rgb(0, 0, 0);
    background: rgb(180, 176, 176);
    transition-duration: 0.4s;
}

h4{
    margin-top: 4px;
    margin-bottom: 4px;
    color: white;
    font-size: 25px;
}

/*aqui vem o css do relatorio*/

.main_rel{
    margin: auto;
    height: 500px;
    width: 1000px;
}
.container_rel{
    
    margin:60px auto;
    height: 190px;
    width: 340px;
    background: rgba(255, 255, 255, 0.21);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;

}
.input-group_rel{
    display: flex;
    flex-direction: column;

    
}
.inp_group_rel{
    
    width: 180px;
    height: 35px;
    border-radius: 6px;
    background: rgb(65, 70, 80);
    color: white;

}
.input_rel{
    height: 33px;
    width: 155px;
    background: rgb(65, 70, 80);
    color: white;
    border-radius: 4px;
    box-shadow: none;
    border: none;
    font-size: 18px;

}
.input_rel:hover{
    background:white ;
    color: #333A54;
    transition-duration: 0.3s;

}

.h4cad{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0;
}

#dis_nome{
    width: 280px;
    border: none;
}




